body {
    background-color: white;
    font-family: arial, sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    color: #222;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    height: 48px;
}

.nav-links {
    color: #222;
    text-decoration: none;
}

nav .nav-left {
    display: flex;
    align-items: center;
    background-color: white;
    width: 125px;
    justify-content: space-evenly;
}

nav .nav-right {
    display: flex;
    align-items: center;
    background-color: white;
    width: 230px;
    justify-content: space-evenly;
}

nav .nav-right a {
    font-size: 13px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    height: 80px;
    width: 99%;
    bottom: 0;
    background-color: white;
    font-size: 15px;
}

.footer-links{
    color: #70757a;
    text-decoration: none;
}

footer .top-footer {
    display: flex;
    background-color: white;
    height: 50%;
    align-items: center;
}

footer .top-footer p {
    padding-left: 20px;
}

footer .bottom-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    height: 50%;
}

footer .bottom-footer .footer-left {
    display: flex;
    align-items: center;
    background-color: white;
    width: 440px;
    justify-content: space-evenly;
}

footer .bottom-footer .footer-right {
    display: flex;
    align-items: center;
    background-color: white;
    width: 300px;
    justify-content: space-evenly;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 73vh;
    /*
    width: 600px;
    height: 700px;
    margin: 0 auto;
    */
}

.container p {
    font-size: 12px;
}

form {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    height: 160px;
    width: 600px;
    margin-top: 37px;
}

.search-box {
    background-color: #fff;
    border: 1px solid #dfe1e5;
    height: 44px;
    border-radius: 24px;
    box-shadow: none;
    display: flex;
}

.search-container {
    display: flex;
    padding: 5px 8px 0 14px;
    flex-direction: row;
    align-items: center;
}

.resize-image {
    width: 20px;
    height: 20px;
    padding-right: 13px;
}
.textbox {
    width: 500px;
    height: 34px;
    background-color: transparent;
    outline: none;
    border: none;

}

button {
    border: 1px solid #f8f9fa;
    height: 30px;
    border-radius: 4px;
}

button:hover{
    border: 1px solid lightgray;
}